<div class="mt-4">
    <form method="POST" action="">
  <div class="form-group">
    <label for="seach-input">Tu khoa</label>
    <input type="text" name = "q" class="form-control" id="seach-input"  placeholder="Nhap tu khoa...">
  </div>
  
  <button type="submit" class="btn btn-primary">Tim kiem</button>
</form>
</div>